*{
    padding: 0;
    margin: 0;
}
header{
    background-color: white;
    padding: 7px 0;
}
.container{
    margin: auto;
    max-width: 1064px;
}
.d-flex{
    display: flex;
}
.justify-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}
header ul{
    list-style: none;
}
header nav li a{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #1C1B1B;
    text-decoration: none;
}
header nav li{
    margin-right: 28px;
}
header li:first-of-type{
    margin-right: 16px;
}
header nav li:first-of-type{
    margin-right: 28px;
}
header li:last-of-type{
    margin-left: 7px;
}
header nav li:last-of-type{
    margin-left: 0;
}
header .container{
    position: relative;
}
header .logo{
    position: absolute;
    left: 50%;
    margin-left: -40px;
    top: 13px;
}
.main_baner{
    padding: 90px 0;
    background-color:#F0EFEB;
    position: relative;
}
.main_baner h1{
    font: 60px 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    color: #000000;
    margin-bottom: 42px;
}
.main_baner p{
    font: 24px 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    color: #000000;
    margin-bottom: 26px;
}
.main_baner a{
    font: 17px 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #FFFFFF;
    padding: 7px 23px;
    text-decoration: none;
    background: #000000;
    border: 1px solid #000000;
    border-radius: 100px;
    display: inline-block;
}
.main_baner img{
    position: absolute;
    right: 60px;
    top: 0;
}
.people_first{
    padding-top: 76px;
    padding-bottom: 61px;
    background: rgba(204, 204, 204, 0.3);
    display: flex;
    align-items: center;
}
.people_first .img{
    max-width: 385px;
    margin-right: 50px;
}
.people_first .img img{
    width: 100%;
    display: block;
}
.people_first .descriptoin{
    max-width: 498px;
}
.descriptoin h2{
    font:36px 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    color: #000000;
    margin-bottom: 31px;
}
.descriptoin p{
    font:36px 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
    color: #000000;
    margin-bottom: 40px;
}
.descriptoin a{
    font:17px 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    text-decoration-line: underline;
    color: #000000;
}
.people_second{
    background: rgba(204, 204, 204, 0.6);
    padding-top: 76px;
    padding-bottom: 61px;
    display: flex;
    align-items: center;
    text-align: right;
}
.people_second .descriptoin{
    max-width: 513px;
}
.people_second .descriptoin.right{
    text-align: right;
}
.people_second .img{
    margin-left: 50px;
    max-width: 385px;
}
.people_second .img img{
    width: 100%;
    display: block;
}
.people_third{
    background: rgba(204, 204, 204, 0.3);
    padding-top: 76px;
    padding-bottom: 61px;
    display: flex;
    align-items: center;
}
.people_third .descriptoin{
    max-width: 538px;
}
.people_third .img{
    margin-right: 50px;
    max-width: 385px;
}
.people_third .img img{
    width: 100%;
    display: block;
}