*{
    padding: 0;
    margin: 0;
}
header{
    background-color: white;
    padding: 7px 0;
}
.container{
    margin: auto;
    max-width: 1064px;
}
.d-flex{
    display: flex;
}
.justify-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}
header ul{
    list-style: none;
}
header nav li a{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #1C1B1B;
    text-decoration: none;
}
header nav li{
    margin-right: 28px;
}
header li:first-of-type{
    margin-right: 16px;
}
header nav li:first-of-type{
    margin-right: 28px;
}
header li:last-of-type{
    margin-left: 7px;
}
header nav li:last-of-type{
    margin-left: 0;
}
header .container{
    position: relative;
}
header .logo{
    position: absolute;
    left: 50%;
    margin-left: -40px;
    top: 13px;
}
.main_baner{
    padding: 90px 0;
    background-color:#F0EFEB;
    position: relative;
}
.main_baner h1{
    font: 60px 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    color: #000000;
    margin-bottom: 42px;
}
.main_baner p{
    font: 24px 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    color: #000000;
    margin-bottom: 26px;
}
.main_baner a{
    font: 17px 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #FFFFFF;
    padding: 7px 23px;
    text-decoration: none;
    background: #000000;
    border: 1px solid #000000;
    border-radius: 100px;
    display: inline-block;
}
.main_baner img{
    position: absolute;
    right: 60px;
    top: 0;
}
.people_first{
    padding-top: 76px;
    padding-bottom: 61px;
    background: rgba(204, 204, 204, 0.3);
    display: flex;
    align-items: center;
}
.people_first .img{
    max-width: 385px;
    margin-right: 50px;
}
.people_first .img img{
    width: 100%;
    display: block;
}
.people_first .descriptoin{
    max-width: 498px;
}
.descriptoin h2{
    font:36px 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    color: #000000;
    margin-bottom: 31px;
}
.descriptoin p{
    font:36px 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
    color: #000000;
    margin-bottom: 40px;
}
.descriptoin a{
    font:17px 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    text-decoration-line: underline;
    color: #000000;
}
.people_second{
    background: rgba(204, 204, 204, 0.6);
    padding-top: 76px;
    padding-bottom: 61px;
    display: flex;
    align-items: center;
    text-align: right;
}
.people_second .descriptoin{
    max-width: 513px;
}
.people_second .descriptoin.right{
    text-align: right;
}
.people_second .img{
    margin-left: 50px;
    max-width: 385px;
}
.people_second .img img{
    width: 100%;
    display: block;
}
.people_third{
    background: rgba(204, 204, 204, 0.3);
    padding-top: 76px;
    padding-bottom: 61px;
    display: flex;
    align-items: center;
}
.people_third .descriptoin{
    max-width: 538px;
}
.people_third .img{
    margin-right: 50px;
    max-width: 385px;
}
.people_third .img img{
    width: 100%;
    display: block;
}
.guides{
    padding-top: 60px;
    padding-bottom: 248px;
    background: #FFFFFF;
}
.guides_text{
    margin: auto;
}
.guides_text h2{
    font:36px 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    text-align: center;
    color: #000000;

}
.guides_text h2:first-of-type{
    margin-bottom: 27px;
}
.guides_text h2:last-of-type{
    margin-bottom: 52px;
}
.guides_text p{
    font:36px 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #000000;
    margin: auto;
}
.guides_text p:first-of-type{
    margin-bottom: 47px;
    max-width: 632px;
}
.guides_text p:last-of-type{
    margin-bottom: 88px;
}
.best_sellers{
    text-align: center;
    justify-content: space-between;
    max-width: 1124px;
    align-items: center;
    margin: auto;
}
.best_sellers h3{
    font:17px 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    color: #000000;
    margin-bottom: 17px;
    margin-top: 26px;
}
.best_sellers p{
    font:17px 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #000000;
}
.best_sellers p:last-of-type{
    margin-bottom: 10px;
}
.best_sellers a{
    font:17px 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    text-decoration-line: underline;
    color: #000000;
}
.thalby_guides{
    padding-top: 190px;
    padding-bottom: 290px;
    background: #FFFFFF;
}
.thalby_guides h3{
    padding-bottom: 69px;
    font:36px 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
    text-align: center;
    color: #000000;
}
.features{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto 163px;
    max-width: 700px;
}
.thalby_guides h2{
    font:36px 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    text-align: center;
    color: #000000;
}
.features img{
    display: block;
    margin: auto;
    padding-bottom: 26px;
}
.features p{
    font:30px 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-align: center;
    color: #000000;
    max-width: 200px;
}
.fascinating{
    background-color: #F0F0F0;
    padding-bottom: 52px;
}
.fascinating .item{
    max-width: 288px;
    text-align: center;
    margin-top: -188px;
}
.fascinating .item h4{
    font:24px 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0.6px;
    color: #000000;
    margin-bottom: 40px;
}
.fascinating .item p{
    font:19px 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    color: #000000;
    margin-bottom: 44px;
}
.fascinating .item p span{
    font-size: 20px;
    line-height: 23px;
    display: block;
}
.fascinating .item a{
    font:18px 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    text-decoration-line: underline;
    color: #000000;
}
.fascinating .item img{
    padding-bottom: 35px;
    display: block;
    width: 100%;
}
.order{
    padding-top: 79px;
    padding-bottom: 98px;
    text-align: center;
}
.order h2{
    font:36px 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    text-align: center;
    color: #000000;
    margin-bottom: 9px;
}
.order p{
    font:17px 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    color: #000000;
    margin-bottom: 26px;
}
.form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 366px;
    margin: auto;
}
.form input{
    font:14px 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    color: #A0A0A0;
    height: 39px;
    border: 1px solid #000000;
    border-radius: 0px;
    padding-left: 8px;
    width: 100%;
}
.first_name{
    margin-bottom: 18px;
    width: 153px;
}
.last_name{
    margin-bottom: 18px;
    width: 153px;
}
.email{
    width: 366px;
    margin-bottom: 23px;
}
.button{
    background: #000000;
    border: 1px solid #000000;
    border-radius: 100px;
    font:14px 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    padding: 7px 23px;
    margin: auto;
    outline: none;
}
.footer{
    background: #020202;
    padding-top: 51px;
    padding-bottom: 16px;

}
.footer_container{
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin: auto;
    margin-bottom: 20px;
}
.footer_logo{
    display: flex;
    padding-top: 50px;
    max-width: 129px;
    justify-content: space-between;
}
.links{
    display: flex;
    width: 430px;
    justify-content: space-between
}
.footer ul{
    list-style: none;
}
.footer li{
    margin-bottom: 12px;
}
.footer li a{
    font:14px 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    color: #FFFFFF;
    text-decoration: none;
}
.footer li:first-of-type{
    margin-bottom: 36px;
}
.footer p{
    font:14px 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}